{% extends 'main.html' %}

{% block page_title %}

    Error 404 page
        
{% endblock %}


{% block content %}

<div class="container-fluid pt-5" style="font-family: 'Oswald', sans-serif; min-height: 100vh;" >
    <div class="d-flex flex-column justify-content-end align-items-center mt-5 text-secondary">
        <h1 style="font-size: 4rem;">Page not Available </h1>
        <h1 style="font-size: 2rem;">Go back to <a href="/" class="link-primary">Home page</a> </h1>
    </div>
</div>
{% endblock %}